html {
    height: 100%
}

body {
    height: 100%;
    cursor: url(../image/target.png) 2 2,pointer;
}
body:active {
    cursor: url(../image/explosion.gif) 2 2, pointer;
}

* {
    padding: 0;
    margin: 0;
}

#board {
    background-image: url(../image/apocalypse.jpg);
    height: 100%;
    width: 100%;
    position: relative;
}

.pigeon{
    width: 10em;
    height: 10em;
    background-image: url(../image/dove.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    transition: linear 1s;
}
