html {
    height: 100%
}

body {
    height: inherit;
}

* {
    padding: 0;
    margin: 0;
}

#board {
    background-color: lightblue;
    height: inherit;
    width: 100%;
}

.pigeon{
    width: 1em;
    height: 1em;
    background-color: red;
    display: block;
}
